body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans';
  overflow: hidden;
}

#diagram {
  width: 100vw;
  height: 100vh;
  background-image: url('bg.png');
}

h1, h2, h3, h4, h5, h6, .container-title {
  font-family: 'DM Sans';
}

.container {
  transition: opacity 0.2s;
}

.container:hover {
  opacity: 0.8;
}

.box {
  cursor: pointer;
}

.box rect {
  fill: white;
  stroke: #333;
  stroke-width: 1px;
}

.box text {
  font-size: 1em;
  text-anchor: middle;
}

.box-content {
  padding: 1em;
  background-color: white;
  height: fit-content;
  border-radius: 1em;
  font-size: 1em;
}

.box-types-container {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

.box-type {
  font-weight: normal;
  width: fit-content;
  color: white;
  border-radius: 0.2em;
  padding: 0.2em 0.3em;
  margin-right: 0.3em;
}

.box-type-framework {
  background-color: rgba(250,199,13,255);
}

.box-type-legislation {
  background-color: rgba(87,95,186,255);
}

.box-type-policy {
  background-color: rgba(149,212,88,255);
}

.box-type-rules {
  background-color: rgba(241,77,46,255);
}

.box-type-direction {
  background-color: rgba(30,172,144,255);
}

.box-type-guideline {
  background-color: rgba(255,0,0,255);
}

.box-type-infrastructure {
  background-color: rgba(23,205,212,255);
}

.box-type-order {
  background-color: rgba(0,0,0,255);
}

.box-type-standards {
  background-color: rgba(169,63,188,255);
}

.box-type-circular {
  background-color: rgba(105,220,224,255);
}