body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans';
  overflow: hidden;
}

#diagram {
  width: 100vw;
  height: 100vh;
  background-image: url('bg.png');
}

h1, h2, h3, h4, h5, h6, .circle-title {
  font-family: 'DM Sans';
}

.circle {
  transition: opacity 0.2s;
}

.circle:hover {
  opacity: 0.8;
}

.box {
  cursor: pointer;
}

.box rect {
  fill: white;
  stroke: #333;
  stroke-width: 1px;
}

.box text {
  font-size: 12px;
  text-anchor: middle;
  dominant-baseline: middle;
}

.box-content {
  padding: 1em;
  background-color: white;
  height: fit-content;
  border-radius: 0.7em;
  font-size: 1.5em;
}

.box-types-container {
  display: flex;
  flex-direction: row;
}

.box-type {
  font-weight: normal;
  width: fit-content;
  color: white;
  border-radius: 0.2em;
  padding: 0.3em;
}

.box-type-framework {
  background-color: rgba(250,199,13,255);
}

.box-type-legislation {
  background-color: rgba(87,95,186,255);
}

.box-type-policy {
  background-color: rgba(149,212,88,255);
}

.box-type-rules {
  background-color: rgba(241,77,46,255);
}

.box-type-direction {
  background-color: rgba(30,172,144,255);
}

.box-type-guideline {
  background-color: rgba(255,0,0,255);
}

.box-type-infrastructure {
  background-color: rgba(23,205,212,255);
}

.box-type-order {
  background-color: rgba(0,0,0,255);
}

.box-type-standards {
  background-color: rgba(169,63,188,255);
}

.box-type-circular {
  background-color: rgba(105,220,224,255);
}

.side-modal {
  position: fixed;
  right: -400px;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.side-modal.open {
  right: 0;
}

.side-modal-content {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.close {
  background: none;
  border: none;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

#modal-title {
  margin-top: 0;
}

#modal-link {
  word-wrap: break-word;
}